body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.bg {
    width: 100vw;
    height: 100vw;
    padding: 1rem;
    background-color: #f1efe5;
}

.bg-header {
    width: 92%;
    display: flex;
    justify-content: space-between;
}

.menu-esq {
    display: flex;
    align-items: center;
}

span {
    width: 1.35rem;
    height: 1.35rem;
    margin-right: 4px;
    display: flex;
}

.menu-dir {
    display: flex;
    align-items: center;
}

.paper {
    width: 1.50rem;
    margin-right: 3rem;
    display: flex;
}

.image {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 100%;
}

.botao-footer {
    border-radius: 20px;
    border-style: none;
    background-color: #F3F4F6;
}