body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    line-height: 1.75rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    width: 100vh;
    height: 100vh;
    opacity: 1;
    background-color: rgba(255, 251, 235, 1);
    padding: 1rem;
}

.bg-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.menu-esq {
    display: flex;
    align-items: center;
}

.svg {
    width: 1.35rem;
    height: 1.35rem;
    margin-right: 4px;
}

.menu-dir {
    display: flex;
    align-items: center;
}

.paper {
    width: 1.50rem;
    margin-right: 3rem;
}

.image {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 100%;
}

footer {
    margin: auto;
    height: 3rem;
}

.botao-footer {
    border-radius: 9999px;
    border-style: none;
    background-color: rgba(229, 231, 235, 1);

    padding: 0.375rem 1rem 0.375rem 1rem;

    display: flex;
    align-items: center;
}

.emoticon {
    margin-top: 0.125rem;
}

.text-span {
    color: rgba(239, 68, 68, 0.8);
    margin-left: 0.5rem;
}